In [1]:
import pandas as pd
import math
import numpy as np
from scipy.optimize import minimize

In [2]:
xls = pd.ExcelFile('Assignment 2 BUSI712.xlsx')
data = pd.read_excel(xls, 'Test Data', header = 1)
data

/Users/huailintang/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

    Segment  m_s  x_s
0         1  300    2
1         2  273    1
2         3  499    0
3         4  428    1
4         5  433    1
5         6  296    0
6         7  451    3
7         8  104    0
8         9  426    0
9        10  490    4
10       11  234    3
11       12  456    0
12       13  395    5
13       14  183    1
14       15  397    6
15       16  339    2
16       17  394    2
17       18  269    0
18       19   77    0
19       20   55    0
20       21  443    4
21       22  194    0
22       23  438    3
23       24  420    1
24       25  177    2
25       26  137    0
26       27  447    0
27       28  365    0
28       29  101    1
29       30  199    0
30       31  176    0
31       32  144    2
32       33  174    1
33       34  202    0
34       35  312    1
35       36  362    0
36       37   96    0
37       38   88    0
38       39  197    3
39       40  177    0
40       41  277    0
41       42  253    0
42       43  230    1
43       44  353    3
44       45  238    0
45       46  264    2
46       47  459    1
47       48  433    3
48       49  161    0
49       50   94    3

In [3]:
def nbetabinomialLL(par, m_s, x_s):
    a = par[0]
    b = par[1]
    ldenom = math.exp(math.lgamma(a)+math.lgamma(b)-math.lgamma(a+b))
    llsum = 0
    for t in range(len(data)):
        llsum += np.log(math.comb(m_s[t], x_s[t])*math.exp(math.lgamma(a+x_s[t])+math.lgamma(b+m_s[t]-x_s[t])-math.lgamma(a+b+m_s[t]))/ldenom)    
    return -llsum

In [4]:
bnds = ((0.0001,None),(0.0001,None))

In [5]:
res = minimize(nbetabinomialLL, (1,1), (data['m_s'], data['x_s']), method="nelder-mead",
               options={'xatol': 1e-08, 'disp': True},bounds=bnds)

Optimization terminated successfully.
         Current function value: 73.850394
         Iterations: 104
         Function evaluations: 223

In [6]:
print('MLE for a,b is', res.x, 'and LL is',-nbetabinomialLL(res.x,data['m_s'], data['x_s']))

MLE for a,b is [  1.6131702  362.81987103] and LL is -73.85039380829467

In [7]:
ldenom = math.exp(math.lgamma(res.x[0])+math.lgamma(res.x[1])-math.lgamma(res.x[0]+res.x[1]))

In [8]:
predict = []
for t in range(len(data)):
    prediction = math.comb(data['m_s'][t], data['x_s'][t])*math.exp(math.lgamma(res.x[0]+data['x_s'][t])+math.lgamma(res.x[1]+data['m_s'][t]-data['x_s'][t])-math.lgamma(res.x[0]+res.x[1]+data['m_s'][t]))/ldenom
    predict.append(prediction)

In [9]:
data['beta_bino_predict'] = predict

In [10]:
data['simple_predict'] = data['x_s'] / data['m_s']

In [11]:
RR = (2000/10000)/100

In [12]:
expectation = (res.x[0] + data['x_s']) / (res.x[0] + res.x[1] + data['m_s'])

In [13]:
data['expectation'] = expectation

In [14]:
data['target'] = expectation >= RR

In [15]:
target_data = data[data['target'] == True]
target_data

    Segment  m_s  x_s  beta_bino_predict  simple_predict  expectation  target
0         1  300    2           0.163637        0.006667     0.005438    True
1         2  273    1           0.280807        0.003663     0.004100    True
3         4  428    1           0.248909        0.002336     0.003298    True
4         5  433    1           0.247702        0.002309     0.003277    True
5         6  296    0           0.382237        0.000000     0.002443    True
6         7  451    3           0.117546        0.006652     0.005657    True
7         8  104    0           0.666127        0.000000     0.003444    True
8         9  426    0           0.285903        0.000000     0.002041    True
9        10  490    4           0.080396        0.008163     0.006569    True
10       11  234    3           0.068396        0.012821     0.007709    True
12       13  395    5           0.038353        0.012658     0.008708    True
13       14  183    1           0.280522        0.005464     0.004773    True
14       15  397    6           0.022157        0.015113     0.009998    True
15       16  339    2           0.169980        0.005900     0.005136    True
16       17  394    2           0.174850        0.005076     0.004764    True
17       18  269    0           0.408917        0.000000     0.002547    True
18       19   77    0           0.733278        0.000000     0.003654    True
19       20   55    0           0.796514        0.000000     0.003846    True
20       21  443    4           0.073786        0.009029     0.006952    True
21       22  194    0           0.501324        0.000000     0.002889    True
22       23  438    3           0.115965        0.006849     0.005749    True
23       24  420    1           0.250835        0.002381     0.003331    True
24       25  177    2           0.119413        0.011299     0.006673    True
25       26  137    0           0.596669        0.000000     0.003217    True
27       28  365    0           0.325523        0.000000     0.002212    True
28       29  101    1           0.236952        0.009901     0.005614    True
29       30  199    0           0.494150        0.000000     0.002863    True
30       31  176    0           0.528600        0.000000     0.002985    True
31       32  144    2           0.099170        0.013889     0.007106    True
32       33  174    1           0.278575        0.005747     0.004853    True
33       34  202    0           0.489925        0.000000     0.002848    True
34       35  312    1           0.274676        0.003205     0.003863    True
35       36  362    0           0.327699        0.000000     0.002221    True
36       37   96    0           0.684950        0.000000     0.003504    True
37       38   88    0           0.704651        0.000000     0.003566    True
38       39  197    3           0.054729        0.015228     0.008217    True
39       40  177    0           0.527022        0.000000     0.002979    True
40       41  277    0           0.400705        0.000000     0.002515    True
41       42  253    0           0.426183        0.000000     0.002613    True
42       43  230    1           0.284098        0.004348     0.004396    True
43       44  353    3           0.101782        0.008499     0.006430    True
44       45  238    0           0.443470        0.000000     0.002678    True
45       46  264    2           0.155015        0.007576     0.005749    True
46       47  459    1           0.241414        0.002179     0.003174    True
47       48  433    3           0.115319        0.006928     0.005785    True
48       49  161    0           0.553217        0.000000     0.003070    True
49       50   94    3           0.014969        0.031915     0.010063    True

In [16]:
num = sum(target_data['m_s']) * 100 # Multiply by 100 because the data only consists of 1% of customers

In [17]:
cost = num * (2000/10000)
cost

254160.0